In [1]:
import os

# home_dir = '/content/gdrive/My Drive/AChina' 
# home_dir = '/hy-tmp'
# os.chdir(home_dir)
# pwd

!pip install tqdm 
!pip install fire

from glob import glob
from tqdm import tqdm

import numpy as np
import pandas as pd

import os
import warnings
import sys

import fire

# warnings.filterwarnings("ignore")  # avoid printing out absolute paths

# os.chdir("../../..")

!pip install scipy
!pip install torch 
!pip install pytorch_lightning==1.9.0 pytorch_forecasting

import copy
from pathlib import Path
import warnings

import time

import numpy as np
import pandas as pd
import pytorch_lightning as pl
from pytorch_lightning.callbacks import EarlyStopping, LearningRateMonitor
from pytorch_lightning.loggers import TensorBoardLogger
import torch

from pytorch_forecasting import Baseline, TemporalFusionTransformer, TimeSeriesDataSet
from pytorch_forecasting.data import GroupNormalizer
from pytorch_forecasting.metrics import MAPE, SMAPE, PoissonLoss, QuantileLoss
from matplotlib import pyplot as plt
from pytorch_lightning.utilities.model_summary import summarize
from pytorch_forecasting import TemporalFusionTransformer
from pytorch_lightning import Trainer
from pytorch_lightning.loggers import TensorBoardLogger
from pytorch_lightning.callbacks import ModelCheckpoint
from matplotlib import pyplot as plt

from multiprocessing import Pool, freeze_support

Looking in indexes: https://mirrors.aliyun.com/pypi/simple
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (4.64.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/bin/python3.8 -m pip install --upgrade pip' command.
Looking in indexes: https://mirrors.aliyun.com/pypi/simple
Requirement already satisfied: fire in /usr/local/lib/python3.8/dist-packages (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from fire) (1.16.0)
Requirement already satisfied: termcolor in /usr/local/lib/python3.8/dist-packages (from fire) (1.1.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/bin/python3.8 -m pip install --upgrade pip' command.
Looking in indexes: https://mirrors.aliyun.com/pypi/simple
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (1.8.1)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scipy) (1.22.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/bin/python3.8 -m pip install --upgrade pip' command.
Looking in indexes: https://mirrors.aliyun.com/pypi/simple
Requirement already satisfied: torch in /usr/local/lib/python3.8/dist-packages (1.12.0+cu113)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch) (4.3.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/bin/python3.8 -m pip install --upgrade pip' command.
Looking in indexes: https://mirrors.aliyun.com/pypi/simple
Requirement already satisfied: pytorch_lightning==1.9.0 in /usr/local/lib/python3.8/dist-packages (1.9.0)
Requirement already satisfied: pytorch_forecasting in /usr/local/lib/python3.8/dist-packages (0.10.3)
Requirement already satisfied: torch>=1.10.0 in /usr/local/lib/python3.8/dist-packages (from pytorch_lightning==1.9.0) (1.12.0+cu113)
Requirement already satisfied: tqdm>=4.57.0 in /usr/local/lib/python3.8/dist-packages (from pytorch_lightning==1.9.0) (4.64.1)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from pytorch_lightning==1.9.0) (4.3.0)
Requirement already satisfied: fsspec[http]>2021.06.0 in /usr/local/lib/python3.8/dist-packages (from pytorch_lightning==1.9.0) (2023.1.0)
Requirement already satisfied: packaging>=17.1 in /usr/local/lib/python3.8/dist-packages (from pytorch_lightning==1.9.0) (21.3)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.8/dist-packages (from pytorch_lightning==1.9.0) (1.22.3)
Requirement already satisfied: PyYAML>=5.4 in /usr/local/lib/python3.8/dist-packages (from pytorch_lightning==1.9.0) (6.0)
Requirement already satisfied: torchmetrics>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from pytorch_lightning==1.9.0) (0.11.1)
Requirement already satisfied: lightning-utilities>=0.4.2 in /usr/local/lib/python3.8/dist-packages (from pytorch_lightning==1.9.0) (0.7.1)
Requirement already satisfied: scikit-learn<1.2,>=0.24 in /usr/local/lib/python3.8/dist-packages (from pytorch_forecasting) (1.1.1)
Requirement already satisfied: pandas<2.0.0,>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from pytorch_forecasting) (1.4.3)
Requirement already satisfied: optuna<3.0.0,>=2.3.0 in /usr/local/lib/python3.8/dist-packages (from pytorch_forecasting) (2.10.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.8/dist-packages (from pytorch_forecasting) (0.13.5)
Requirement already satisfied: scipy<2.0,>=1.8 in /usr/local/lib/python3.8/dist-packages (from pytorch_forecasting) (1.8.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from pytorch_forecasting) (3.5.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (2.28.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.8/dist-packages (from fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (3.8.4)
Requirement already satisfied: colorlog in /usr/local/lib/python3.8/dist-packages (from optuna<3.0.0,>=2.3.0->pytorch_forecasting) (6.7.0)
Requirement already satisfied: cliff in /usr/local/lib/python3.8/dist-packages (from optuna<3.0.0,>=2.3.0->pytorch_forecasting) (4.2.0)
Requirement already satisfied: alembic in /usr/local/lib/python3.8/dist-packages (from optuna<3.0.0,>=2.3.0->pytorch_forecasting) (1.9.4)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from optuna<3.0.0,>=2.3.0->pytorch_forecasting) (2.0.4)
Requirement already satisfied: cmaes>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from optuna<3.0.0,>=2.3.0->pytorch_forecasting) (0.9.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=17.1->pytorch_lightning==1.9.0) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas<2.0.0,>=1.3.0->pytorch_forecasting) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas<2.0.0,>=1.3.0->pytorch_forecasting) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<1.2,>=0.24->pytorch_forecasting) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<1.2,>=0.24->pytorch_forecasting) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pytorch_forecasting) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pytorch_forecasting) (1.4.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pytorch_forecasting) (4.34.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pytorch_forecasting) (9.2.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.8/dist-packages (from statsmodels->pytorch_forecasting) (0.5.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (4.0.2)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (2.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (6.0.4)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (1.3.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (21.4.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (1.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.2->statsmodels->pytorch_forecasting) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy>=1.1.0->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (2.0.2)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.8/dist-packages (from alembic->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (5.8.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from alembic->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (4.12.0)
Requirement already satisfied: Mako in /usr/local/lib/python3.8/dist-packages (from alembic->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (1.2.4)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.8/dist-packages (from cliff->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (3.6.0)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from cliff->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (5.0.0)
Requirement already satisfied: cmd2>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from cliff->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (2.4.3)
Requirement already satisfied: autopage>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from cliff->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (0.5.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (1.26.10)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->fsspec[http]>2021.06.0->pytorch_lightning==1.9.0) (2022.6.15)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.8/dist-packages (from cmd2>=1.0.0->cliff->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (0.2.5)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.8/dist-packages (from cmd2>=1.0.0->cliff->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (1.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->alembic->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (3.8.1)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from stevedore>=2.0.1->cliff->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (5.11.1)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.8/dist-packages (from Mako->alembic->optuna<3.0.0,>=2.3.0->pytorch_forecasting) (2.1.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/bin/python3.8 -m pip install --upgrade pip' command.

/usr/local/lib/python3.8/dist-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
home_dir = '/hy-tmp'        
os.chdir(home_dir)

!pwd

!ls

# from google.colab import drive
# drive.mount('/content/gdrive/')

# !ls

# home_dir = '/content/gdrive/My Drive/AChina'        
# os.chdir(home_dir)
# !pwd

/hy-tmp
ali_rice.ckpt  china  data

In [3]:
scrop = 'rice'

print( time.asctime( time.localtime(time.time()) ) )
alidata = pd.read_csv(f'data/ALIDATASET_{scrop}.csv')
print('DATASET loaded', time.asctime( time.localtime(time.time()) ) )

alidata['county'] = alidata['county'].astype(str)
alidata['year']   = alidata['year'].astype(str)

display(alidata)

Mon Feb 27 22:42:10 2023
DATASET loaded Mon Feb 27 22:43:39 2023

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
0,0,0,0,2003,1,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.9,0.45,0.22,1.8012,0.84,0.74
1,1,1,0,2003,1,1,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.9,0.45,0.22,1.8012,0.84,0.74
2,2,2,0,2003,1,2,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.9,0.45,0.22,1.8012,0.84,0.74
3,3,3,0,2003,1,3,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.9,0.45,0.22,1.8012,0.84,0.74
4,4,4,0,2003,2,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.9,0.45,0.22,1.8012,0.84,0.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24160,24160,40,30,2022,11,3,0.0,0.0,0.0,1.505150,...,0.0,9999.90,75.13,74.54,9999999.9,62.83,65.31,1000.0100,0.83,0.87
24161,24161,41,30,2022,12,0,0.0,0.0,0.0,0.845098,...,0.0,9999.90,75.13,74.54,9999999.9,62.83,65.31,1000.0100,0.83,0.87
24162,24162,42,30,2022,12,1,0.0,0.0,0.0,1.602060,...,0.0,9999.90,75.13,74.54,9999999.9,62.83,65.31,1000.0100,0.83,0.87
24163,24163,43,30,2022,12,2,0.0,0.0,0.0,1.301030,...,0.0,9999.90,75.13,74.54,9999999.9,62.83,65.31,1000.0100,0.83,0.87
24164,24164,44,30,2022,12,3,0.0,0.0,0.0,1.447158,...,0.0,9999.90,75.13,74.54,9999999.9,62.83,65.31,1000.0100,0.83,0.87

In [5]:
aliv = alidata[ alidata['year'] == '2004']
alio = alidata[ alidata['year'] == '2003']

months = alidata['month'].unique()

for month in months:
    display(aliv[ aliv['month'] == month ])
    display(alio[ alio['month'] == month ])
               
fn

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
45,1215,0,0,2004,1,0,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
46,1216,1,0,2004,1,1,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
47,1217,2,0,2004,1,2,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
48,1218,3,0,2004,1,3,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
940,1259,0,1,2004,1,0,0.0,0.0,0.0,0.000000,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22423,2318,3,29,2004,1,3,0.0,0.0,0.0,0.000000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23315,2359,0,30,2004,1,0,0.0,0.0,0.0,1.602060,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23316,2360,1,30,2004,1,1,0.0,0.0,0.0,0.954243,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23317,2361,2,30,2004,1,2,0.0,0.0,0.0,0.301030,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23318,2362,3,30,2004,1,3,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
0,0,0,0,2003,1,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
1,1,1,0,2003,1,1,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
2,2,2,0,2003,1,2,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
3,3,3,0,2003,1,3,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
895,45,0,1,2003,1,0,0.0,0.0,0.0,0.000000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22378,1128,3,29,2003,1,3,0.0,0.0,0.0,0.000000,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23270,1170,0,30,2003,1,0,0.0,0.0,0.0,1.491362,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23271,1171,1,30,2003,1,1,0.0,0.0,0.0,1.342423,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23272,1172,2,30,2003,1,2,0.0,0.0,0.0,1.361728,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23273,1173,3,30,2003,1,3,0.0,0.0,0.0,0.602060,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
49,1219,4,0,2004,2,0,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
50,1220,5,0,2004,2,1,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
51,1221,6,0,2004,2,2,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
52,1222,7,0,2004,2,3,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
944,1263,4,1,2004,2,0,0.0,0.0,0.0,0.000000,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22427,2322,7,29,2004,2,3,0.0,0.0,0.0,0.000000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23319,2363,4,30,2004,2,0,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23320,2364,5,30,2004,2,1,0.0,0.0,0.0,0.477121,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23321,2365,6,30,2004,2,2,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23322,2366,7,30,2004,2,3,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
4,4,4,0,2003,2,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
5,5,5,0,2003,2,1,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
6,6,6,0,2003,2,2,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
7,7,7,0,2003,2,3,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
899,49,4,1,2003,2,0,0.0,0.0,0.0,0.000000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22382,1132,7,29,2003,2,3,0.0,0.0,0.0,0.000000,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23274,1174,4,30,2003,2,0,0.0,0.0,0.0,0.477121,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23275,1175,5,30,2003,2,1,0.0,0.0,0.0,0.301030,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23276,1176,6,30,2003,2,2,0.0,0.0,0.0,0.301030,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23277,1177,7,30,2003,2,3,0.0,0.0,0.0,0.000000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
53,1223,8,0,2004,3,0,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
54,1224,9,0,2004,3,1,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
55,1225,10,0,2004,3,2,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
56,1226,11,0,2004,3,3,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
948,1267,8,1,2004,3,0,0.0,0.0,0.0,0.0,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22431,2326,11,29,2004,3,3,0.0,0.0,0.0,0.0,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23323,2367,8,30,2004,3,0,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23324,2368,9,30,2004,3,1,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23325,2369,10,30,2004,3,2,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23326,2370,11,30,2004,3,3,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
8,8,8,0,2003,3,0,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
9,9,9,0,2003,3,1,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
10,10,10,0,2003,3,2,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
11,11,11,0,2003,3,3,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
903,53,8,1,2003,3,0,0.0,0.0,0.0,0.0,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22386,1136,11,29,2003,3,3,0.0,0.0,0.0,0.0,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23278,1178,8,30,2003,3,0,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23279,1179,9,30,2003,3,1,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23280,1180,10,30,2003,3,2,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23281,1181,11,30,2003,3,3,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
57,1227,12,0,2004,4,0,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
58,1228,13,0,2004,4,1,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
59,1229,14,0,2004,4,2,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
952,1271,12,1,2004,4,0,0.0,0.0,0.0,0.0,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
953,1272,13,1,2004,4,1,0.0,0.0,0.0,0.0,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22433,2328,13,29,2004,4,1,0.0,0.0,0.0,0.0,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
22434,2329,14,29,2004,4,2,0.0,0.0,0.0,0.0,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23327,2371,12,30,2004,4,0,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23328,2372,13,30,2004,4,1,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23329,2373,14,30,2004,4,2,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
12,12,12,0,2003,4,0,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
13,13,13,0,2003,4,1,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
14,14,14,0,2003,4,2,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
907,57,12,1,2003,4,0,0.0,0.0,0.0,0.0,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
908,58,13,1,2003,4,1,0.0,0.0,0.0,0.0,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22388,1138,13,29,2003,4,1,0.0,0.0,0.0,0.0,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
22389,1139,14,29,2003,4,2,0.0,0.0,0.0,0.0,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23282,1182,12,30,2003,4,0,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23283,1183,13,30,2003,4,1,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23284,1184,14,30,2003,4,2,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
60,1230,15,0,2004,5,0,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
61,1231,16,0,2004,5,1,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
62,1232,17,0,2004,5,2,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
955,1274,15,1,2004,5,0,0.0,0.0,0.0,0.000000,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
956,1275,16,1,2004,5,1,0.0,0.0,0.0,0.000000,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22436,2331,16,29,2004,5,1,0.0,0.0,0.0,0.000000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
22437,2332,17,29,2004,5,2,0.0,0.0,0.0,0.000000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23330,2374,15,30,2004,5,0,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23331,2375,16,30,2004,5,1,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23332,2376,17,30,2004,5,2,0.0,0.0,0.0,0.954243,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
15,15,15,0,2003,5,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
16,16,16,0,2003,5,1,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
17,17,17,0,2003,5,2,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
18,18,18,0,2003,5,3,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
910,60,15,1,2003,5,0,0.0,0.0,0.0,0.000000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22393,1143,18,29,2003,5,3,0.0,0.0,0.0,0.000000,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23285,1185,15,30,2003,5,0,0.0,0.0,0.0,0.000000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23286,1186,16,30,2003,5,1,0.0,0.0,0.0,1.278754,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23287,1187,17,30,2003,5,2,0.0,0.0,0.0,0.778151,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23288,1188,18,30,2003,5,3,0.0,0.0,0.0,0.000000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
63,1233,18,0,2004,6,0,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
64,1234,19,0,2004,6,1,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
65,1235,20,0,2004,6,2,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
66,1236,21,0,2004,6,3,0.0,0.0,0.0,0.301030,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
958,1277,18,1,2004,6,0,0.0,0.0,0.0,0.000000,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22441,2336,21,29,2004,6,3,0.0,0.0,0.0,0.000000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23333,2377,18,30,2004,6,0,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23334,2378,19,30,2004,6,1,0.0,0.0,0.0,0.477121,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23335,2379,20,30,2004,6,2,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23336,2380,21,30,2004,6,3,0.0,0.0,0.0,0.301030,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
19,19,19,0,2003,6,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
20,20,20,0,2003,6,1,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
21,21,21,0,2003,6,2,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
22,22,22,0,2003,6,3,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
914,64,19,1,2003,6,0,0.0,0.0,0.0,0.000000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22397,1147,22,29,2003,6,3,0.0,0.0,0.0,0.000000,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23289,1189,19,30,2003,6,0,0.0,0.0,0.0,0.000000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23290,1190,20,30,2003,6,1,0.0,0.0,0.0,0.477121,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23291,1191,21,30,2003,6,2,0.0,0.0,0.0,0.602060,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23292,1192,22,30,2003,6,3,0.0,0.0,0.0,0.477121,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
67,1237,22,0,2004,7,0,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
68,1238,23,0,2004,7,1,0.0,0.0,0.0,0.301030,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
69,1239,24,0,2004,7,2,0.0,0.0,0.0,0.845098,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
70,1240,25,0,2004,7,3,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
962,1281,22,1,2004,7,0,0.0,0.0,0.0,0.301030,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22445,2340,25,29,2004,7,3,0.0,0.0,0.0,0.903090,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23337,2381,22,30,2004,7,0,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23338,2382,23,30,2004,7,1,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23339,2383,24,30,2004,7,2,0.0,0.0,0.0,1.531479,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23340,2384,25,30,2004,7,3,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
23,23,23,0,2003,7,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
24,24,24,0,2003,7,1,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
25,25,25,0,2003,7,2,0.0,0.0,0.0,1.146128,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
26,26,26,0,2003,7,3,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
918,68,23,1,2003,7,0,0.0,0.0,0.0,0.000000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22401,1151,26,29,2003,7,3,0.0,0.0,0.0,0.000000,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23293,1193,23,30,2003,7,0,0.0,0.0,0.0,1.176091,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23294,1194,24,30,2003,7,1,0.0,0.0,0.0,0.301030,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23295,1195,25,30,2003,7,2,0.0,0.0,0.0,1.079181,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23296,1196,26,30,2003,7,3,0.0,0.0,0.0,0.000000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
71,1241,26,0,2004,8,0,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
72,1242,27,0,2004,8,1,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
73,1243,28,0,2004,8,2,0.0,0.0,0.0,0.845098,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
74,1244,29,0,2004,8,3,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
966,1285,26,1,2004,8,0,0.0,0.0,0.0,0.698970,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22449,2344,29,29,2004,8,3,0.0,0.0,0.0,0.000000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23341,2385,26,30,2004,8,0,0.0,0.0,0.0,0.301030,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23342,2386,27,30,2004,8,1,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23343,2387,28,30,2004,8,2,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23344,2388,29,30,2004,8,3,0.0,0.0,0.0,0.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
27,27,27,0,2003,8,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
28,28,28,0,2003,8,1,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
29,29,29,0,2003,8,2,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
30,30,30,0,2003,8,3,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
922,72,27,1,2003,8,0,0.0,0.0,0.0,0.000000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22405,1155,30,29,2003,8,3,0.0,0.0,0.0,1.361728,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23297,1197,27,30,2003,8,0,0.0,0.0,0.0,0.000000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23298,1198,28,30,2003,8,1,0.0,0.0,0.0,0.000000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23299,1199,29,30,2003,8,2,0.0,0.0,0.0,0.477121,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23300,1200,30,30,2003,8,3,0.0,0.0,0.0,0.000000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
75,1245,30,0,2004,9,0,0.0,0.0,0.0,0.00000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
76,1246,31,0,2004,9,1,0.0,0.0,0.0,0.00000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
77,1247,32,0,2004,9,2,0.0,0.0,0.0,0.00000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
78,1248,33,0,2004,9,3,0.0,0.0,0.0,0.00000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
970,1289,30,1,2004,9,0,0.0,0.0,0.0,0.00000,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22453,2348,33,29,2004,9,3,0.0,0.0,0.0,0.00000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23345,2389,30,30,2004,9,0,0.0,0.0,0.0,0.30103,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23346,2390,31,30,2004,9,1,0.0,0.0,0.0,0.00000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23347,2391,32,30,2004,9,2,0.0,0.0,0.0,0.00000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23348,2392,33,30,2004,9,3,0.0,0.0,0.0,0.00000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
31,31,31,0,2003,9,0,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
32,32,32,0,2003,9,1,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
33,33,33,0,2003,9,2,0.0,0.0,0.0,0.0,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
926,76,31,1,2003,9,0,0.0,0.0,0.0,0.0,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
927,77,32,1,2003,9,1,0.0,0.0,0.0,0.0,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22407,1157,32,29,2003,9,1,0.0,0.0,0.0,0.0,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
22408,1158,33,29,2003,9,2,0.0,0.0,0.0,0.0,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23301,1201,31,30,2003,9,0,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23302,1202,32,30,2003,9,1,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23303,1203,33,30,2003,9,2,0.0,0.0,0.0,0.0,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
79,1249,34,0,2004,10,0,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
80,1250,35,0,2004,10,1,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
81,1251,36,0,2004,10,2,0.0,0.0,0.0,0.0,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
974,1293,34,1,2004,10,0,0.0,0.0,0.0,0.0,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
975,1294,35,1,2004,10,1,0.0,0.0,0.0,0.0,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22455,2350,35,29,2004,10,1,0.0,0.0,0.0,0.0,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
22456,2351,36,29,2004,10,2,0.0,0.0,0.0,0.0,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23349,2393,34,30,2004,10,0,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23350,2394,35,30,2004,10,1,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23351,2395,36,30,2004,10,2,0.0,0.0,0.0,0.0,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
34,34,34,0,2003,10,0,0.0,0.0,0.0,0.00000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
35,35,35,0,2003,10,1,0.0,0.0,0.0,0.00000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
36,36,36,0,2003,10,2,0.0,0.0,0.0,0.00000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
929,79,34,1,2003,10,0,0.0,0.0,0.0,0.00000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
930,80,35,1,2003,10,1,0.0,0.0,0.0,0.00000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22410,1160,35,29,2003,10,1,0.0,0.0,0.0,0.00000,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
22411,1161,36,29,2003,10,2,0.0,0.0,0.0,0.00000,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23304,1204,34,30,2003,10,0,0.0,0.0,0.0,0.30103,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23305,1205,35,30,2003,10,1,0.0,0.0,0.0,0.00000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23306,1206,36,30,2003,10,2,0.0,0.0,0.0,0.00000,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
82,1252,37,0,2004,11,0,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
83,1253,38,0,2004,11,1,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
84,1254,39,0,2004,11,2,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
977,1296,37,1,2004,11,0,0.0,0.0,0.0,0.000000,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
978,1297,38,1,2004,11,1,0.0,0.0,0.0,0.000000,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22458,2353,38,29,2004,11,1,0.0,0.0,0.0,0.000000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
22459,2354,39,29,2004,11,2,0.0,0.0,0.0,0.000000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23352,2396,37,30,2004,11,0,0.0,0.0,0.0,1.079181,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23353,2397,38,30,2004,11,1,0.0,0.0,0.0,0.954243,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23354,2398,39,30,2004,11,2,0.0,0.0,0.0,1.204120,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
37,37,37,0,2003,11,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
38,38,38,0,2003,11,1,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
39,39,39,0,2003,11,2,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
40,40,40,0,2003,11,3,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
932,82,37,1,2003,11,0,0.0,0.0,0.0,0.000000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22415,1165,40,29,2003,11,3,0.0,0.0,0.0,0.000000,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23307,1207,37,30,2003,11,0,0.0,0.0,0.0,0.698970,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23308,1208,38,30,2003,11,1,0.0,0.0,0.0,1.255273,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23309,1209,39,30,2003,11,2,0.0,0.0,0.0,0.778151,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23310,1210,40,30,2003,11,3,0.0,0.0,0.0,1.342423,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
85,1255,40,0,2004,12,0,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
86,1256,41,0,2004,12,1,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
87,1257,42,0,2004,12,2,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
88,1258,43,0,2004,12,3,0.0,0.0,0.0,0.000000,...,0.0,0.82,0.44,0.26,1.01,0.45,0.22,1.2317,0.84,0.74
980,1299,40,1,2004,12,0,0.0,0.0,0.0,0.000000,...,0.0,13.69,19.90,18.00,11.09,15.48,12.92,0.8101,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22463,2358,43,29,2004,12,3,0.0,0.0,0.0,0.000000,...,0.0,64.38,77.00,79.27,52.46,64.09,66.46,0.8148,0.83,0.84
23355,2399,40,30,2004,12,0,0.0,0.0,0.0,1.361728,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23356,2400,41,30,2004,12,1,0.0,0.0,0.0,1.568202,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23357,2401,42,30,2004,12,2,0.0,0.0,0.0,1.000000,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87
23358,2402,43,30,2004,12,3,0.0,0.0,0.0,1.322219,...,0.0,66.77,75.13,74.54,39.31,62.83,65.31,0.5887,0.83,0.87

,Unnamed: 0,time_idx,county,year,month,MOD_month_t,b0b0,b0b1,b0b2,b0b3,...,Wind_f_tavg_254,rice_sownarea,avg_rice_sownarea,med_rice_sownarea,rice_yieldval,avg_rice_yieldval,med_rice_yieldval,rice_yield,avg_rice_yield,med_rice_yield
41,41,41,0,2003,12,0,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
42,42,42,0,2003,12,1,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
43,43,43,0,2003,12,2,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
44,44,44,0,2003,12,3,0.0,0.0,0.0,0.000000,...,0.0,1.61,0.44,0.26,2.90,0.45,0.22,1.8012,0.84,0.74
936,86,41,1,2003,12,0,0.0,0.0,0.0,0.000000,...,0.0,7.00,19.90,18.00,5.65,15.48,12.92,0.8071,0.76,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22419,1169,44,29,2003,12,3,0.0,0.0,0.0,0.000000,...,0.0,46.71,77.00,79.27,37.04,64.09,66.46,0.7930,0.83,0.84
23311,1211,41,30,2003,12,0,0.0,0.0,0.0,1.361728,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23312,1212,42,30,2003,12,1,0.0,0.0,0.0,0.477121,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23313,1213,43,30,2003,12,2,0.0,0.0,0.0,1.491362,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87
23314,1214,44,30,2003,12,3,0.0,0.0,0.0,1.602060,...,0.0,67.16,75.13,74.54,50.73,62.83,65.31,0.7554,0.83,0.87

NameError: name 'fn' is not defined

In [ ]:
infer_mask = alidata['year'].isin(['2019', '2020', '2021', '2022'])

data_infer = alidata[infer_mask]

data_infer['rice_sownarea'] = np.nan
data_infer['rice_yieldval'] = np.nan
data_infer['rice_yield']    = np.nan

years = [str(x) for x in range(2003, 2005)]

val_year = str(2004)

years.remove(val_year)

train_mask = alidata['year'].isin(years)
data = alidata[train_mask]

val_mask = alidata['year'].isin([val_year])
data_val = alidata[val_mask]

display(data_infer)

display(data)

display(data_val)

In [ ]:
max_prediction_length = 16
max_encoder_length = 27
training_cutoff = data["time_idx"].max() - max_prediction_length

avg_med = ["avg_rice_yield", "med_rice_yield", "avg_rice_sownarea", "med_rice_sownarea",\
                 "avg_rice_yieldval", "med_rice_yieldval"]

_static_reals = avg_med

_time_varying_known_reals = ["time_idx"]
_time_varying_known_reals.extend(avg_med)

# display( data[ [ col for col in _time_varying_known_reals ] ] )

# fn

mod_names = [f'b{iband}b{bins}' for iband in range(9) for bins in range(512)]

famine_list = ['Evap_tavg', 'LWdown_f_tavg', 'Lwnet_tavg', 'Psurf_f_tavg', 'Qair_f_tavg', 'Qg_tavg', 'Qh_tavg', 'Qle_tavg',\
            'Qs_tavg', 'Qsb_tavg', 'RadT_tavg', 'Rainf_f_tavg', 'SnowCover_inst', 'SnowDepth_inst', 'Snowf_tavg', \
            'SoilMoi00_10cm_tavg', 'SoilMoi10_40cm_tavg', 'SoilMoi40_100cm_tavg', \
            'SoilTemp00_10cm_tavg', 'SoilTemp10_40cm_tavg', 'SoilTemp40_100cm_tavg', \
            'SWdown_f_tavg', 'SWE_inst', 'Swnet_tavg', 'Tair_f_tavg', 'Wind_f_tavg']

nbins = ['_' + str(x) for x in range(0, 255)]

famine_names = [famine + bb for famine in famine_list for bb in nbins]

_time_varying_unknown_reals = []
_time_varying_unknown_reals.extend(avg_med)
_time_varying_unknown_reals.extend(mod_names)
_time_varying_unknown_reals.extend(famine_names)

# display( data[ [ col for col in _time_varying_unknown_reals ] ] )

# fn

# display( data[ [ col for col in mod_names ] ] )

# display( data[ [ col for col in famine_names ] ] )

# fn

print( time.asctime( time.localtime(time.time()) ) )

training = TimeSeriesDataSet(
    data[lambda x: x.time_idx <= training_cutoff],
    time_idx="time_idx",
    target="rice_yield",
    group_ids=["county", "year"],
    min_encoder_length=max_encoder_length // 2,  # keep encoder length long (as it is in the validation set)
    max_encoder_length=max_encoder_length,
    min_prediction_length = 1,
    max_prediction_length = max_prediction_length,
    # static_categoricals = ["county", "years"],
    # static_reals = _static_reals,
    # time_varying_known_categoricals=["special_days", "month"],
    # variable_groups={"special_days": special_days},  # group of categorical variables can be treated as one variable
    time_varying_known_reals = _time_varying_known_reals,
    # time_varying_unknown_categoricals=[],
    time_varying_unknown_reals = _time_varying_unknown_reals,
    # target_normalizer=GroupNormalizer(
    #     groups=["agency", "sku"], transformation="softplus"
    # ),  # use softplus and normalize by group
    # add_relative_time_idx=True,
    # add_target_scales=True,
    # add_encoder_length=True,
)

print( time.asctime( time.localtime(time.time()) ) )

validation = TimeSeriesDataSet(
    data_val[lambda x: x.time_idx <= training_cutoff],
    time_idx="time_idx",
    target="rice_yield",
    group_ids=["county", "year"],
    min_encoder_length=max_encoder_length // 2,  # keep encoder length long (as it is in the validation set)
    max_encoder_length=max_encoder_length,
    min_prediction_length = 1,
    max_prediction_length = max_prediction_length,
    # static_categoricals = ["county", "years"],
    # static_reals = _static_reals,
    # time_varying_known_categoricals=["special_days", "month"],
    # variable_groups={"special_days": special_days},  # group of categorical variables can be treated as one variable
    time_varying_known_reals = _time_varying_known_reals,
    # time_varying_unknown_categoricals=[],
    time_varying_unknown_reals = _time_varying_unknown_reals,
    # target_normalizer=GroupNormalizer(
    #     groups=["agency", "sku"], transformation="softplus"
    # ),  # use softplus and normalize by group
    # add_relative_time_idx=True,
    # add_target_scales=True,
    # add_encoder_length=True,
)

# create validation set (predict=True) which means to predict the last max_prediction_length points in time
# for each series
# validation = TimeSeriesDataSet.from_dataset(training, data, predict=True, stop_randomization=True)

print( time.asctime( time.localtime(time.time()) ) )

In [ ]:
print(data['b0b10'].dtypes)
print(data['Evap_tavg_10'].dtypes)

In [ ]:
# create dataloaders for model
batch_size = 64  # set this between 32 to 128
train_dataloader = training.to_dataloader(train=True, batch_size=batch_size, num_workers=8)
val_dataloader = validation.to_dataloader(train=False, batch_size=batch_size, num_workers=8)

In [ ]:
print( time.asctime( time.localtime(time.time()) ) )
# calculate baseline mean absolute error, i.e. predict next value as the last available value from the history
actuals = torch.cat([y for x, (y, weight) in iter(val_dataloader)])
baseline_predictions = Baseline().predict(val_dataloader)
(actuals - baseline_predictions).abs().mean().item()
print('Baseline:', time.asctime( time.localtime(time.time()) ) )

In [ ]:
dir = '/hy-tmp/chck/ali'
dir = os.path.join(home_dir, 'data')
checkpoint_callback = ModelCheckpoint(dirpath=dir + 'ali', every_n_epochs=1)

dir = '/tf_logs'
dir = os.path.join(home_dir, 'data')
logger = TensorBoardLogger(dir, name='ali', comment='ali')

lr_monitor = LearningRateMonitor(logging_interval='epoch')

trainer = Trainer(accelerator='gpu', logger=logger, log_every_n_steps=1, fast_dev_run=True, max_epochs=30, \
                  callbacks=[checkpoint_callback, lr_monitor])

learning_rate = 0.001

model = TemporalFusionTransformer.from_dataset(
    training,
    learning_rate=learning_rate,
    # # lstm_layers=2,
    hidden_size=16,
    # attention_head_size=4,
    # dropout=0.1,
    # hidden_continuous_size=8,
    # output_size=7,  # 7 quantiles by default
    # loss=RMSE(),
    loss=QuantileLoss(),
    # log_interval=10,  # uncomment for learning rate finder and otherwise, e.g. to 10 for logging every 10 batches
    # reduce_on_plateau_patience=4,
    )

In [ ]:
print( time.asctime( time.localtime(time.time()) ) )
trainer.fit(
    model,
    train_dataloaders=train_dataloader,
    val_dataloaders=val_dataloader,
)
print('fit:', time.asctime( time.localtime(time.time()) ) )

In [ ]:
# load the best model according to the validation loss
# (given that we use early stopping, this is not necessarily the last epoch)
# os.chdir(os.path.join(home_dir, 'data'))
#   best_model_path = trainer.checkpoint_callback.best_model_path
# print(type(best_model_path))
# best_tft = TemporalFusionTransformer.load_from_checkpoint(best_model_path)

print('weights saving', time.asctime( time.localtime(time.time()) ) )
checkpoint = f"ali_{scrop}.ckpt"
trainer.save_checkpoint(checkpoint)
print('weights loading', time.asctime( time.localtime(time.time()) ) )
best_tft = model  # TemporalFusionTransformer.load_from_checkpoint(checkpoint)
print('weights loaded', time.asctime( time.localtime(time.time()) ) )

In [ ]:
# calcualte mean absolute error on validation set
actuals = torch.cat([y[0] for x, y in iter(val_dataloader)])
predictions = best_tft.predict(val_dataloader)
(actuals - predictions).abs().mean()

In [ ]:
print(type(actuals), actuals.device, actuals.size(), actuals.size()[0])
print(type(predictions), predictions.device, predictions.size())

print(actuals[0,0], predictions[0,0])

for county in range(actuals.size()[0]):
    print(actuals[county,:], predictions[county,:])
    fig, ax = plt.subplots(nrows=1, ncols=1, figsize=(20,5))
    ax.plot(actuals[county, :], color='r')
    ax.plot(predictions[county, :], color='b')

plt.show()

In [ ]:
# raw predictions are a dictionary from which all kind of information including quantiles can be extracted
raw_predictions, x = best_tft.predict(val_dataloader, mode="raw", return_x=True)

In [ ]:
print(type(raw_predictions))

In [ ]:
for idx in range(10):  # plot 10 examples
    best_tft.plot_prediction(x, raw_predictions, idx=idx, add_loss_to_title=True);